<div>
    <h1 class="title">Neighbourhood Eats</h1>
    
    <div>
        <p class="motto">"Food to dine for!"</p>
    </div>

</div>
<div>
    <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/rating">Rating</a></li>
        <li><a href="/categories">Categories</a></li>
    </ul>
</div>